.projName {
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
}

.projLeftCardName {
    color: white;
    text-align: center;
    margin: 20px 0;
}

.projRightCardName {
    color: white;
    text-align: center;
    margin: 20px 0;
}

.projLeftCardStyles {
    background-color: #553D67;
    border: 2px solid white;
    height: 500px;
}

.projRightCardStyles {
    background-color: #553D67;
    border: 2px solid white;
    height: 500px;
}

.calcImgStyles {
    width: auto;
    padding: 0;
    margin: 0 auto;
    height: 400px;
}

.movingDivsImgStyles {
    width: min-content;
    padding: 0;
    margin: 0 auto;
    height: 400px;
}

.imageCropperImgStyles {
    width: min-content;
    padding: 0;
    margin: 0 auto;
    height: 400px;
}

.toDoImgStyles {
    width: min-content;
    padding: 0;
    margin: 0 auto;
    height: 400px;
}

.timerImgStyles {
    width: min-content;
    padding: 0;
    margin: 0 auto;
    height: 400px;
}

.formComponentImgStyles {
    width: min-content;
    padding: 0;
    margin: 0 auto;
    height: 400px;
}

.descrBtn {
    color: white;
    background-color: blueviolet;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
}

.descrBtn:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 1280px) and (min-width: 960px) {
    .projLeftCardStyles {
        margin-bottom: 10px;
    }

    .projLeftCardStyles .projLeftCardName {
        margin: 40px 0;
    }
    
    .calcImgStyles,
    .movingDivsImgStyles,
    .imageCropperImgStyles,
    .toDoImgStyles,
    .timerImgStyles,
    .formComponentImgStyles {
        width: 80%;
        height: 320px;
    }
}

@media screen and (max-width: 992px) and (min-width: 720px) {
    .projRightCardStyles {
        height: 250px;
    }
}

@media screen and (max-width: 960px) and (min-width: 720px) {
    .projLeftCardStyles {
        margin-bottom: 10px;
        height: 420px;
    }
    
    .calcImgStyles,
    .movingDivsImgStyles,
    .imageCropperImgStyles,
    .toDoImgStyles,
    .timerImgStyles,
    .formComponentImgStyles {
        width: 80%;
        height: 320px;
    }
}

@media screen and (max-width: 720px) and (min-width: 540px) {
    .projLeftCardStyles {
        margin-bottom: 10px;
        height: 420px;
    }

    .projRightCardStyles {
        height: 270px;
    }

    .calcImgStyles,
    .movingDivsImgStyles,
    .imageCropperImgStyles,
    .toDoImgStyles,
    .timerImgStyles,
    .formComponentImgStyles {
        width: 80%;
        height: 320px;
    }
}

@media screen and (max-width: 540px) {
    .projLeftCardStyles {
        margin-bottom: 10px;
        height: 420px;
    }

    .projRightCardStyles {
        height: 290px;
    }

    .calcImgStyles,
    .movingDivsImgStyles,
    .imageCropperImgStyles,
    .toDoImgStyles,
    .timerImgStyles,
    .formComponentImgStyles {
        width: 80%;
        height: 320px;
    }
}